In [1]:
import geopandas as gpd
from requests import Request
from owslib.wfs import WebFeatureService

In [2]:
url = "https://pubgeo.zwemwater.nl/geoserver/zwr_public/wfs"
wfs = WebFeatureService(url=url)

In [3]:
def load_wfs_layer(layer_name):
    params = dict(service='WFS', version="2.0.0", request='GetFeature',
      typeName=layer_name, outputFormat='json', srsName="EPSG:4326")
    wfs_request_url = Request('GET', url, params=params).prepare().url
    return gpd.read_file(wfs_request_url)

In [8]:
eu_designations = load_wfs_layer("zwr_public:eustatussen")
eu_designations = eu_designations[eu_designations['jaar'] == 2023].drop(columns=['type_eu_status_id', 'geometry', 'omschrijving', 'id'])
eu_designations

     code   key_id  jaar  zwemwaterlocatie_id
6992    2  8135517  2023              6502090
7011    1  8135490  2023                 1267
7012    1  8135491  2023                 1268
7013    1  8135492  2023                 1270
7014    1  8135493  2023                 1271
...   ...      ...   ...                  ...
7751    4  8167548  2023                 1112
7752    4  8167553  2023                 1118
7753    3  8167559  2023                 1124
7754    4  8167555  2023                 1120
7755    4  8167550  2023                 1114

[731 rows x 4 columns]

### Metingen

In [10]:
measurements = load_wfs_layer("zwr_public:resultaatsen")
measurements = measurements.drop(columns=['id', 'datum_geplande_monstername', 'monitoring_datum_id', 'monitoring_plan_id', 'monster_id', 'type_object_id', 'geometry'])
measurements = measurements.sort_values(["zwemwaterlocatie_id", "object_begin_tijd", "type_object_code"])
measurements = measurements.drop_duplicates(subset=["zwemwaterlocatie_id", "type_object_code"], keep="last")
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
4214,90,2024-07-22 07:05:00+00:00,8321908,E_COLI,955
8785,15,2024-07-22 07:05:00+00:00,8321909,INTTNLETRCCN,955
4363,20,2024-07-29 09:03:00+00:00,8328070,E_COLI,956
8925,15,2024-07-29 09:03:00+00:00,8328071,INTTNLETRCCN,956
4364,15,2024-07-29 07:57:00+00:00,8328102,E_COLI,957
...,...,...,...,...,...
8855,15,2024-07-23 11:30:00+00:00,8325003,INTTNLETRCCN,8186460
4561,45,2024-07-30 08:48:00+00:00,8333554,E_COLI,8192060
9122,15,2024-07-30 08:48:00+00:00,8333556,INTTNLETRCCN,8192060
4380,20,2024-07-29 06:20:00+00:00,8328607,E_COLI,8194200
8942,15,2024-07-29 06:20:00+00:00,8328606,INTTNLETRCCN,8194200

# Voorzieningen

In [16]:
unique_amenities = zwemplek_voorziening.copy()
unique_amenities = unique_amenities.drop_duplicates("code").drop(columns=['id', 'taal', 'zwemplek_id', 'zwemwaterlocatie_id', 'geometry'])
unique_amenities = unique_amenities[['voorziening_type_id', 'omschrijving', 'groep']].set_index('voorziening_type_id')
unique_amenities

                                     omschrijving       groep
voorziening_type_id
5943900                                      EHBO   ONBEPERKT
5943913                        Parkeergelegenheid   ONBEPERKT
5943906                                    Horeca   ONBEPERKT
5943894                               Blauwe vlag   ONBEPERKT
5943901                             Entreeheffing   ONBEPERKT
5943905                         Honden toegestaan   ONBEPERKT
5943914                           Reddingsbrigade   ONBEPERKT
5943922                      Toezicht categorie C   ONBEPERKT
5943924                            Trailerhelling   ONBEPERKT
5943925                               Uitkijkpost   ONBEPERKT
5943920                            Teken aanwezig   ONBEPERKT
5943902                           Fietsenstalling    GENERIEK
5943927                            WC / Toiletten     HYGIENE
5943907                                  Infobord    GENERIEK
5943930                                Zoet water    GENERIEK
5943898                                 Drijflijn  VEILIGHEID
5943929                                Zandstrand   RECREATIE
5943892                               Afvalbakken     HYGIENE
5943911                                  Ligweide   RECREATIE
5943932                       Zwemzone afgebakend  VEILIGHEID
5943910                               Kleedruimte   RECREATIE
5943915                           Speeltoestellen   RECREATIE
5943896                                 Doorzicht  VEILIGHEID
5943916                                Speelweide   RECREATIE
5943891                           Aflopende bodem  VEILIGHEID
5943897                                   Douches     HYGIENE
5943893                         Bereikbaar met OV    GENERIEK
5943895                        Diepte zwemlocatie  VEILIGHEID
5943917                                Strandhuis   RECREATIE
5943919                        Surf mogelijkheden   RECREATIE
5943921               Toegankelijk voor invaliden    GENERIEK
5943912                               Naaktstrand   RECREATIE
5943904                                   Grootte    GENERIEK
5943926              Voorzieningen voor invaliden    GENERIEK
5943890                         Afdrijvingsgevaar  VEILIGHEID
5943903                              Getijdewater  VEILIGHEID
5943931                                Zout water    GENERIEK
5943899                                 Duiktoren   RECREATIE
5943909                    Kitesurf mogelijkheden   RECREATIE
5943923                      Toezicht categorie D  VEILIGHEID
5943908                      Jetski mogelijkheden   RECREATIE
5943918                            Strandrolstoel    GENERIEK
5943928                             Waterglijbaan   RECREATIE

## EU Designations

## Measurements

In [17]:
measurements = load_wfs_layer("zwr_public:resultaatsen")
measurements = measurements.drop(columns=['id', 'datum_geplande_monstername', 'monitoring_datum_id', 'monitoring_plan_id', 'monster_id', 'type_object_id', 'geometry'])
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
0,15,2024-04-08 08:41:00+00:00,8200826,E_COLI,1076
1,15,2024-04-08 07:00:00+00:00,8200863,E_COLI,1036
2,15,2024-04-08 08:33:00+00:00,8200868,E_COLI,1075
3,15,2024-04-08 10:09:00+00:00,8200918,E_COLI,1079
4,15,2024-04-08 06:15:00+00:00,8200936,E_COLI,302622
...,...,...,...,...,...
9138,15,2024-07-29 10:08:00+00:00,8334131,INTTNLETRCCN,1442
9139,15,2024-07-29 11:27:00+00:00,8334132,INTTNLETRCCN,6837160
9140,15,2024-07-29 10:28:00+00:00,8334133,INTTNLETRCCN,1438
9141,15,2024-07-29 10:20:00+00:00,8334118,INTTNLETRCCN,1433
9142,400,2024-07-29 07:25:03+00:00,8332213,INTTNLETRCCN,1061

In [19]:
measurements = measurements.sort_values(["zwemwaterlocatie_id", "object_begin_tijd", "type_object_code"])
measurements = measurements.drop_duplicates(subset=["zwemwaterlocatie_id", "type_object_code"], keep="first")
measurements

,numerieke_waarde,object_begin_tijd,key_id,type_object_code,zwemwaterlocatie_id
694,15,2024-04-29 08:18:00+00:00,8222613,E_COLI,955
5272,20,2024-04-29 08:18:00+00:00,8222614,INTTNLETRCCN,955
293,15,2024-04-22 08:34:00+00:00,8214575,E_COLI,956
4868,15,2024-04-22 08:34:00+00:00,8214576,INTTNLETRCCN,956
294,15,2024-04-22 09:18:00+00:00,8214597,E_COLI,957
...,...,...,...,...,...
4768,15,2024-04-16 09:40:46+00:00,8207897,INTTNLETRCCN,8186460
426,76,2024-04-22 12:32:00+00:00,8217486,E_COLI,8192060
5004,15,2024-04-22 12:32:00+00:00,8217488,INTTNLETRCCN,8192060
318,15,2024-04-22 06:30:00+00:00,8215090,E_COLI,8194200
4893,15,2024-04-22 06:30:00+00:00,8215079,INTTNLETRCCN,8194200

## Preventative measures

In [20]:
preventative_measures = load_wfs_layer("zwr_public:zwemplek_maatregel")
preventative_measures = preventative_measures.drop(columns=['id', 'bw_code', 'object_type', 'toelichtingstandaardextended', 'type', 'geometry', 'zwemplek_naam'])
preventative_measures

,key_id,objectbegintijd,objecteindtijd,omschrijving,redeningetrokken,status,toelichtingpubliek,toelichtingstandaard,zwemplek_id,zwemwaterlocatie_id
0,8326441,2024-07-28,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,1879,1158
1,8224744,2024-04-30,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_KWALITEIT,1813,1092
2,8331684,2024-07-31,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1964,1243
3,8322991,2024-07-24,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_ZWEMMERSJEUK,2073,1352
4,8327543,2024-07-30,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,2096,1375
...,...,...,...,...,...,...,...,...,...,...
140,8311844,2024-07-16,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1685,964
141,8251953,2024-05-28,NaT,None,None,WAARSCHUWING,Gevaarlijke waterbodem,WAARSCHUWING_ONVEILIGE_SITUATIE,302028,1502
142,8287239,2024-06-26,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1985,1264
143,8331681,2024-07-31,NaT,None,None,NEGATIEF_ZWEMADVIES,None,ONTRADEN_BLAUWALG,1920,1199
144,8327549,2024-07-30,NaT,None,None,WAARSCHUWING,None,WAARSCHUWING_BLAUWALG,1891,1170

In [21]:
unique_prevention_codes = preventative_measures.drop_duplicates('toelichtingstandaard')
unique_prevention_codes['toelichtingstandaard']

0                                   ONTRADEN_BLAUWALG
1                                  ONTRADEN_KWALITEIT
2                               WAARSCHUWING_BLAUWALG
3                               ONTRADEN_ZWEMMERSJEUK
5                              WAARSCHUWING_KWALITEIT
9               WAARSCHUWING_BIJZONDERE_OMSTANDIGHEID
19                    WAARSCHUWING_ONVEILIGE_SITUATIE
24    NORMOVERSCHRIJDING_GECONSTATEERD_WATERKWALITEIT
37                  ONTRADEN_BIJZONDERE_OMSTANDIGHEID
52                          WAARSCHUWING_ZWEMMERSJEUK
92                        ONTRADEN_ONVEILIGE_SITUATIE
Name: toelichtingstandaard, dtype: object

In [22]:
messages = preventative_measures.dropna(subset=['toelichtingpubliek'])
messages = messages[['zwemwaterlocatie_id', 'toelichtingpubliek']]
messages

     zwemwaterlocatie_id                                 toelichtingpubliek
6                   1366  De waterkwaliteit is op dit moment goed. Volge...
8                   1623  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
9                   1517  Er geldt een waarschuwing i.v.m. aanwezigheid ...
11                  1237  Er zijn meerdere bezoekers met huidklachten na...
13                  1623  Waarschuwing voor een verminderde waterkwalite...
18                  1061  Waarschuwing voor verminderde waterkwaliteit. ...
19               6502090  waarschuwing in verband met verminderd doorzic...
20                  1552  I.v.m. zichtbare drijflagen en geuroverlast ge...
24                302622  In verband met een te hoge waarde PFAS is zwem...
28                  1382  Op deze locatie is tevens sprake van een verho...
33                  1586  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
34                  1406               Er wordt nader onderzoek uitgevoerd.
37                  1241  Negatief zwemadvies vanwege PFAS-verontreinigi...
38                  1233  Het negatieve zwemadvies vanwege de PFAS-veron...
39                  1114  Dit gaat NIET over de actuele kwaliteit van he...
48                  1382  Op deze locatie is tevens sprake van een verho...
52               7356360                              Kans op huidirritatie
53               7941840  Er geldt een waarschuwing i.v.m. aanwezigheid ...
57                  1212                kuilen en steil talud in waterbodem
59                  1141     grillige waterbodem en steil talud in zwemzone
63                  1015  Zwemmen ontraden vanwege onvoldoende waterkwal...
64               6669260  Negatief Zwemadvies i.v.m. veel te hoge PFAS w...
66               6672410  Er geldt een waarschuwing i.v.m. aanwezigheid ...
74                  1440  Waarschuwing voor blauwalgen. Kans op huidirri...
76               6249511  Per 01-05-2024 is er een Negatief Zwemadvies i...
84                  1166  Voor deze locatie geldt gedurende het gehele z...
92                   973  ernstige slibvorming, gevaarlijk zuigende wate...
107                 1185  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
115                 1581  I.v.m. een gemeten normoverschrijding voor bla...
124                 1551  I.v.m. zichtbare drijflagen en geuroverlast ge...
132                 1595  Deze zwemwaterlocatie is ingedeeld in de 4-jaa...
133                 1191  Voor deze locatie geldt gedurende het gehele z...
136                 1167  Voor deze locatie geldt gedurende het gehele z...
139                 1056  Waarschuwing voor blauwalgen. Kans op huidirri...
141                 1502                             Gevaarlijke waterbodem