In [1]:
import requests
import pandas as pd
import sqlite3

In [2]:
server = "https://euswimapp.com/api/v1/beaches"

In [3]:
data = requests.get(server, headers={"Accept": "application/json, text/javascript, */*; q=0.01"})
result = data.json()['beaches']

In [4]:
df = pd.json_normalize(result)\
    .set_index('id')\
    .drop(columns=['address', 'image'])
df

,name,temperature,location.latitude,location.longitude,water_quality.classification,water_quality.timestamp
id,,,,,,
4,Ballyholme Beach,None,54.668352,-5.637678,Excellent,2024-03-06T08:01:42+00:00
5,Ballywalter Beach,None,54.544500,-5.482600,Excellent,2024-03-06T08:01:48+00:00
1,Castlerock Beach,None,55.168300,-6.786300,Excellent,2024-03-06T08:01:55+00:00
6,Newcastle Beach,None,54.213400,-5.886071,Excellent,2024-03-06T08:02:00+00:00
2,Portrush East/Curran Strand Beach,None,55.205100,-6.645800,Excellent,2024-03-06T08:02:05+00:00
3,Waterfoot Beach,None,55.060859,-6.054550,Excellent,2024-03-06T08:02:11+00:00

In [5]:
df.sort_values(by=['name'], ascending=True)

,name,temperature,location.latitude,location.longitude,water_quality.classification,water_quality.timestamp
id,,,,,,
4,Ballyholme Beach,None,54.668352,-5.637678,Excellent,2024-03-06T08:01:42+00:00
5,Ballywalter Beach,None,54.544500,-5.482600,Excellent,2024-03-06T08:01:48+00:00
1,Castlerock Beach,None,55.168300,-6.786300,Excellent,2024-03-06T08:01:55+00:00
6,Newcastle Beach,None,54.213400,-5.886071,Excellent,2024-03-06T08:02:00+00:00
2,Portrush East/Curran Strand Beach,None,55.205100,-6.645800,Excellent,2024-03-06T08:02:05+00:00
3,Waterfoot Beach,None,55.060859,-6.054550,Excellent,2024-03-06T08:02:11+00:00